

 .header {
	 
	 text-align:center;
	 
	 
 }
 
 
 
 .interests {
	 
	 padding-top: 200px;
	 padding-bottom: 200px;
	 color: #8B0000;
	 
	 
 }
 
 
 
 .language{
	 
	 color: rgba(1, 1, 122, 100%);
	 background: linear-gradient(yellow, green);
	 border-radius: 5px;
	border: 2px solid green;
 }
 
 
 .br {
	 
	 margin: 50px;
	 
 }
